* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    height: 100vh;
}

.card {
    border: 2px solid #00000011;
    border-radius: 10px;
    background-color: #e2e2e2;
}

.image>img {
    border-radius: 10px 10px 0 0;
}

.card-footer {
    padding: 5px;
    gap: 5px;
}